# Bỏ qua virtual environment
venv/

# Bỏ cache và file tạm
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code config (nếu có)
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Tệp hệ điều hành
.DS_Store
Thumbs.db
